# mac file
.DS_Store

# vscode
.vscode/

# cache
*.pyc
*/__pycache__
*.csv

# transformer
transformer/data

# llm data
tools/llm/ag_news_csv/

# benchmark
benchmark/data

# compiler
*.o
*.a
*.so
build/

# algorithm
cav_build/dataset
cav_build/models
cav_build/runs
cav_build/*.bin
cav_build/output.xlsx
cav_build/*.png
cav_build/traced_model.pt

# machine_learning
machine_learning/dbscan/*.png
